
<div id="biosection">
<img src="/images/{{bioData.avatar}}" alt="bio image">
<div id="bioright">
<h1 class="bioheader">{{bioData.name}}</h1>
<br>
<br>
<h3 class="biotext">ABOUT {{bioData.name}}</h3>
<p class="biotext">{{bioData.bio}}</p>
<br>
<h3 class="biotext">WHEN I STARTED TO LIKE {{bioData.name}}</h3>
<p class="biotext">{{bioData.year_liked}}</p>
<br>
<h3 class="biotext">WHY I LIKE {{bioData.name}}</h3>
<p class="biotext">{{bioData.why}}</p>
</div>
</div>